
body{
    margin: 0px;
    text-align: center;
    color: #40514E;
    font-family: 'Meriweather',serif;
    font-family: verdana,sans-serif;
}
h1{
    margin: 0;
    font-size: 5.62rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;
    font-family: 'Sacramento',cursive;
}
h2{
    font-family: 'Montserrat',sans-serif;
    color: #66BFBF;
    font-weight: normal;
    font-size: 2.5rem;
}
h3{
    font-family: 'Montserrat',sans-serif;
    color: #11999E;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    
}
a{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}
a:hover{
    color: #EAF6F6;
}
.top-container{
    position: relative;
    background-color: #EAF6F6;
    padding-top: 1000px;
}
.middle-container{
    margin:100px 0;
}
.bottom-container{
    padding: 50px 0 20px 0;
    background-color: #66BFBF;
}
.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:300px;
}
.top-cloud{
    position:absolute;
    right: 300px;
    top:50px;
}
.skill-row{
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    /* text-align: center; */
    width: 50%;
}
.code-img{
    border-radius: 100%;
    width: 25%;
    float:left;
    margin-right: 30px;
}
.chilli-img{
    width: 25%;
    float:right;
    margin-left: 30px;
}
.copy-right{
    color: #EAF6F6;
    padding: 20px 0;
    font-size: 0.75rem;
}
.contact-me{
    line-height: 2;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
    background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .contact-row{
    width: 50%;
    margin: 0 auto 30px auto;
  }
  